html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

#ad_content {
  background: #f2f2f2;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 250px; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 300px 250px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 250px; }

#txt_1 {
  top: 87px;
  left: 110px; }

#txt_2 {
  top: 92px;
  left: 114px; }

#txt_3 {
  top: 73px;
  left: 112px; }

#txt_4 {
  top: 78px;
  left: 125px; }

#product_1 {
  top: 16px;
  left: -1px; }

#logo {
  top: 222px;
  left: 119px; }

#txt_5 {
  top: 77px;
  left: 124px; }

#txt_6 {
  top: 235px;
  left: 201px; }

#square {
  top: 73px;
  left: 119px; }

#leaf_1 {
  top: -90px;
  left: 10px; }

#leaf_2 {
  top: 150px;
  left: 212px; }

#cta {
  top: 155px;
  left: 114px; }

#cta_txt {
  top: 164px;
  left: 131px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.Rectangle {
  width: 598px;
  height: 1198px;
  background-position: 0px 0px; }
.sprite-png.cta {
  width: 117px;
  height: 27px;
  background-position: -711px -78px;
  background-size: 852px 765px; }
.sprite-png.cta_arrow {
  width: 12px;
  height: 15px;
  background-position: -834px -78px;
  background-size: 852px 765px; }
.sprite-png.cta_txt {
  width: 82px;
  height: 13px;
  background-position: -711px -135px;
  background-size: 852px 765px; }
.sprite-png.leaf_1 {
  width: 235px;
  height: 180px;
  background-position: -303px -255px;
  background-size: 852px 765px; }
.sprite-png.leaf_2 {
  width: 137px;
  height: 154px;
  background-position: -303px -438px;
  background-size: 852px 765px; }
.sprite-png.logo {
  width: 63px;
  height: 19px;
  background-position: -711px -111px;
  background-size: 852px 765px; }
.sprite-png.product_1 {
  width: 97px;
  height: 229px;
  background-position: -609px 0px;
  background-size: 852px 765px; }
.sprite-png.she {
  width: 300px;
  height: 250px;
  background-position: -303px 0px;
  background-size: 852px 765px; }
.sprite-png.square {
  width: 151px;
  height: 85px;
  background-position: -444px -438px;
  background-size: 852px 765px; }
.sprite-png.square_b {
  width: 152px;
  height: 86px;
  background-position: 0px -603px;
  background-size: 852px 765px; }
.sprite-png.txt_1 {
  width: 171px;
  height: 28px;
  background-position: -504px -603px;
  background-size: 852px 765px; }
.sprite-png.txt_2 {
  width: 163px;
  height: 42px;
  background-position: -336px -603px;
  background-size: 852px 765px; }
.sprite-png.txt_3 {
  width: 177px;
  height: 61px;
  background-position: -156px -603px;
  background-size: 852px 765px; }
.sprite-png.txt_4 {
  width: 140px;
  height: 73px;
  background-position: -711px 0px;
  background-size: 852px 765px; }
.sprite-png.txt_5 {
  width: 143px;
  height: 72px;
  background-position: 0px -693px;
  background-size: 852px 765px; }
.sprite-png.txt_6 {
  width: 94px;
  height: 12px;
  background-position: -711px -153px;
  background-size: 852px 765px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.puntos_barbilla {
  background-position: 99.93105033325672% 0;
  width: 42.49px;
  height: 25.5px; }
.sprite-svg.puntos_frente {
  background-position: 0 0;
  width: 43.48px;
  height: 28.49px; }
.sprite-svg.puntos_mejilla {
  background-position: 0 99.96491228070175%;
  width: 39.42px;
  height: 28.5px; }
