html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

#ad_content {
  background: #e9e8e8;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 600px; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 300px 600px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 600px; }

#txt_1 {
  top: 70px;
  left: 41px; }

#txt_2 {
  top: 509px;
  left: 50px; }

#txt_3 {
  top: 509px;
  left: 149px; }

#txt_4 {
  top: 533px;
  left: 158px; }

#product_1 {
  top: 210px;
  left: 50px; }

#product_2 {
  top: 231px;
  left: 137px; }

#rectangle {
  top: 574px;
  left: 180px; }

#she {
  top: 128px;
  left: 19px;
  transform-origin: bottom; }

#rectangle_2 {
  top: 574px;
  left: 180px; }

#logo {
  top: 0px;
  left: 194px; }

#txt_5 {
  top: 77px;
  left: 58px; }

#txt_6 {
  top: 70px;
  left: 41px; }

#txt_7 {
  top: 150px;
  left: 43px; }

#txt_8 {
  top: 548px;
  left: 37px; }

#cta {
  top: 506px;
  left: 86px; }

#corner_block {
  transform-origin: bottom left;
  bottom: 0px;
  background-color: #b5463b;
  height: 172px;
  width: 65px; }

#ruler {
  right: 4px;
  height: 600px;
  width: 10px;
  background: url("ruler.png");
  background-repeat: repeat-y; }

.sprite-jpg { background-image: url('sprite.jpg') }
.sprite-jpg.she {
  width: 261px;
  height: 451px;
  background-position: 0px 0px; }
.sprite-png { background-image: url('sprite.png') }
.sprite-png.background {
  width: 300px;
  height: 600px;
  background-position: 0px 0px;
  background-size: 726px 660px; }
.sprite-png.cta {
  width: 126px;
  height: 26px;
  background-position: -510px -186px;
  background-size: 726px 660px; }
.sprite-png.logo {
  width: 106px;
  height: 47px;
  background-position: -510px -135px;
  background-size: 726px 660px; }
.sprite-png.product_1 {
  width: 79px;
  height: 320px;
  background-position: -426px 0px;
  background-size: 726px 660px; }
.sprite-png.product_2 {
  width: 114px;
  height: 303px;
  background-position: -306px 0px;
  background-size: 726px 660px; }
.sprite-png.rectangle {
  width: 70px;
  height: 9px;
  background-position: -510px -216px;
  background-size: 726px 660px; }
.sprite-png.txt_1 {
  width: 214px;
  height: 56px;
  background-position: -510px 0px;
  background-size: 726px 660px; }
.sprite-png.txt_2 {
  width: 77px;
  height: 21px;
  background-position: -621px -159px;
  background-size: 726px 660px; }
.sprite-png.txt_3 {
  width: 85px;
  height: 21px;
  background-position: -621px -135px;
  background-size: 726px 660px; }
.sprite-png.txt_4 {
  width: 70px;
  height: 18px;
  background-position: -639px -186px;
  background-size: 726px 660px; }
.sprite-png.txt_5 {
  width: 182px;
  height: 40px;
  background-position: -510px -60px;
  background-size: 726px 660px; }
.sprite-png.txt_6 {
  width: 217px;
  height: 53px;
  background-position: 0px -606px;
  background-size: 726px 660px; }
.sprite-png.txt_7 {
  width: 215px;
  height: 26px;
  background-position: -510px -105px;
  background-size: 726px 660px; }
.sprite-png.txt_8 {
  width: 225px;
  height: 11px;
  background-position: -222px -606px;
  background-size: 726px 660px; }