html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.center-trans {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

#ad_content {
  background: #e86025;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 728px;
  height: 90px; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 728px 90px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 728px;
  height: 90px; }

/* --- */
#logo {
  left: 18px; }

/* --- */
#product-01 {
  left: 390px; }

#icecream, #duck, #waves, #sunglasses {
  left: 260px; }

#overlay-01, #overlay-02, #overlay-03, #overlay-04 {
  width: 728px;
  height: 90px; }

#overlay-01 {
  background: #ffa300; }

#overlay-02 {
  background: #92edef; }

#overlay-03 {
  background: #facbd5; }

#overlay-04 {
  background: #ffc200; }

/* --- */
#txt_1a, #txt_1b {
  left: 175px; }

#txt_1a {
  top: 25px; }

#txt_1b {
  top: 50px; }

#txt_2, #txt_3, #txt_4, #txt_5 {
  left: 395px; }

/* --- */
#cta, #cta-bg {
  width: 140px;
  height: 30px; }

#cta {
  left: 560px; }

#cta-bg {
  background: white;
  border-radius: 15px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.cta_txt {
  width: 89px;
  height: 11px;
  background-position: -240px -174px;
  background-size: 450px 237px; }
.sprite-png.logo {
  width: 66px;
  height: 19px;
  background-position: -375px -93px;
  background-size: 450px 237px; }
.sprite-png.product-01 {
  width: 117px;
  height: 72px;
  background-position: 0px -165px;
  background-size: 450px 237px; }
.sprite-png.product-02 {
  width: 29px;
  height: 75px;
  background-position: -309px -93px;
  background-size: 450px 237px; }
.sprite-png.product-03 {
  width: 31px;
  height: 76px;
  background-position: -240px -93px;
  background-size: 450px 237px; }
.sprite-png.product-04 {
  width: 28px;
  height: 75px;
  background-position: -276px -93px;
  background-size: 450px 237px; }
.sprite-png.product-05 {
  width: 29px;
  height: 75px;
  background-position: -342px -93px;
  background-size: 450px 237px; }
.sprite-png.txt_1a {
  width: 187px;
  height: 27px;
  background-position: -240px -39px;
  background-size: 450px 237px; }
.sprite-png.txt_1b {
  width: 187px;
  height: 15px;
  background-position: -240px -72px;
  background-size: 450px 237px; }
.sprite-png.txt_2 {
  width: 235px;
  height: 49px;
  background-position: 0px -57px;
  background-size: 450px 237px; }
.sprite-png.txt_3 {
  width: 210px;
  height: 34px;
  background-position: -240px 0px;
  background-size: 450px 237px; }
.sprite-png.txt_4 {
  width: 231px;
  height: 50px;
  background-position: 0px -111px;
  background-size: 450px 237px; }
.sprite-png.txt_5 {
  width: 235px;
  height: 52px;
  background-position: 0px 0px;
  background-size: 450px 237px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.duck {
  background-position: 0 100%;
  width: 69px;
  height: 67px; }
.sprite-svg.icecream {
  background-position: 100% 0;
  width: 69px;
  height: 34px; }
.sprite-svg.sunglasses {
  background-position: 100% 72.34042553191489%;
  width: 69px;
  height: 54px; }
.sprite-svg.waves {
  background-position: 0 0;
  width: 70px;
  height: 34px; }
