html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

#ad_content {
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 250px; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 300px 250px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 250px; }

#background {
  top: 38px;
  width: 300px;
  height: 550px;
  background-color: #00bbee; }

#rechazar {
  top: 212px;
  left: 59px; }

#aceptar {
  top: 212px;
  left: 173px; }

#txt_1 {
  top: 69px;
  left: 35px; }

#txt_2 {
  top: 82px;
  left: 101px; }

#txt_3 {
  top: 120px;
  left: 102px; }

#txt_4 {
  top: 82px;
  left: 106px; }

#product_1 {
  top: 0px;
  left: -2px; }

#product_2 {
  top: 0px;
  left: 0px; }

#logo_1 {
  top: -1px;
  left: 88px; }

#logo_2 {
  top: -1px;
  left: 68px; }

#phone_down {
  top: 150px;
  left: 72px; }

#phone_up {
  top: 150px;
  left: 180px; }

#phone_up_green {
  top: 150px;
  left: 180px; }

#txt_5 {
  top: 106px;
  left: 106px; }

#txt_6 {
  top: 82px;
  left: 106px; }

#txt_7 {
  top: 106px;
  left: 107px; }

#txt_8 {
  top: 82px;
  left: 139px; }

#txt_9 {
  top: 229px;
  left: 8px; }

#txt_ef {
  top: 113px;
  left: 141px; }

#cta {
  top: 182px;
  left: 154px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.cta {
  width: 113px;
  height: 24px;
  background-position: 0px -354px;
  background-size: 609px 438px; }
.sprite-png.logo_1 {
  width: 124px;
  height: 32px;
  background-position: -477px -255px;
  background-size: 609px 438px; }
.sprite-png.logo_2 {
  width: 161px;
  height: 41px;
  background-position: -171px -255px;
  background-size: 609px 438px; }
.sprite-png.phone_down {
  width: 53px;
  height: 53px;
  background-position: 0px -384px;
  background-size: 609px 438px; }
.sprite-png.phone_up {
  width: 52px;
  height: 52px;
  background-position: -57px -384px;
  background-size: 609px 438px; }
.sprite-png.phone_up_green {
  width: 52px;
  height: 52px;
  background-position: -114px -384px;
  background-size: 609px 438px; }
.sprite-png.product_1 {
  width: 300px;
  height: 250px;
  background-position: 0px 0px;
  background-size: 609px 438px; }
.sprite-png.product_2 {
  width: 300px;
  height: 250px;
  background-position: -306px 0px;
  background-size: 609px 438px; }
.sprite-png.txt_3 {
  width: 176px;
  height: 23px;
  background-position: 0px -327px;
  background-size: 609px 438px; }
.sprite-png.txt_4 {
  width: 110px;
  height: 19px;
  background-position: -180px -327px;
  background-size: 609px 438px; }
.sprite-png.txt_5 {
  width: 167px;
  height: 43px;
  background-position: 0px -255px;
  background-size: 609px 438px; }
.sprite-png.txt_6 {
  width: 114px;
  height: 18px;
  background-position: -441px -303px;
  background-size: 609px 438px; }
.sprite-png.txt_7 {
  width: 150px;
  height: 19px;
  background-position: -285px -303px;
  background-size: 609px 438px; }
.sprite-png.txt_9 {
  width: 281px;
  height: 18px;
  background-position: 0px -303px;
  background-size: 609px 438px; }
.sprite-png.txt_ef {
  width: 138px;
  height: 36px;
  background-position: -336px -255px;
  background-size: 609px 438px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.aceptar {
  background-position: 0 99.54554061730732%;
  width: 66.25px;
  height: 12.38px; }
.sprite-svg.rechazar {
  background-position: 92.57729211087421% 80.18367733383829%;
  width: 79.92px;
  height: 12.38px; }
.sprite-svg.txt_1 {
  background-position: 0 0;
  width: 229.28px;
  height: 51.72px; }
.sprite-svg.txt_2 {
  background-position: 0 60.82559096789368%;
  width: 176.88px;
  height: 32.97px; }
.sprite-svg.txt_8 {
  background-position: 0 86.81701691440287%;
  width: 138.94px;
  height: 20.45px; }
