html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.center-trans {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

#ad_content {
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 320px;
  height: 50px; }
  #ad_content div,
  #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 320px 50px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 320px;
  height: 50px; }

#txt_1 {
  top: 11px;
  left: 9px; }

#txt_2 {
  top: 17px;
  left: 9px; }

#txt_3 {
  top: 27px;
  left: 10px; }

#frame {
  top: 5px;
  left: 109px; }

#txt_4 {
  top: 8px;
  left: 9px; }

#product_1 {
  top: 10px;
  left: 113px; }

#product_2 {
  top: 1px;
  left: 104px; }

#product_3 {
  top: 72px;
  left: 24px; }

#logo {
  top: 18px;
  left: 275px; }

#shape {
  height: 45px;
  width: 161px;
  background: #e0e0e0;
  top: 2px;
  left: 104px; }

#txt_5 {
  top: 19px;
  left: 9px; }

#txt_6 {
  top: 30px;
  left: 8px; }

#txt_7 {
  top: 13px;
  left: 9px; }

#txt_8 {
  top: 24px;
  left: 9px; }

#txt_9 {
  top: 6px;
  left: 10px; }

#txt_10 {
  top: 19px;
  left: 9px; }

#txt_11 {
  top: 30px;
  left: 9px; }

#txt_12 {
  top: 11px;
  left: 9px; }

#cta {
  width: 108px;
  height: 28px;
  left: 595px;
  top: 30px; }
  #cta #cta_bg {
    width: 100%;
    height: 100%;
    background: #000; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.frame {
  width: 152px;
  height: 37px;
  background-position: 0px -51px;
  background-size: 162px 147px; }
.sprite-png.logo {
  width: 39px;
  height: 11px;
  background-position: 0px -135px;
  background-size: 162px 147px; }
.sprite-png.product_1 {
  width: 140px;
  height: 39px;
  background-position: 0px -93px;
  background-size: 162px 147px; }
.sprite-png.product_2 {
  width: 160px;
  height: 46px;
  background-position: 0px 0px;
  background-size: 162px 147px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.cta_txt {
  background-position: 0 60.354330708661415%;
  width: 79.97px;
  height: 15.8px; }
.sprite-svg.txt_1 {
  background-position: 72.94571343814891% 57.44005641748942%;
  width: 24.16px;
  height: 6.92px; }
.sprite-svg.txt_10 {
  background-position: 99.18322073207624% 0;
  width: 59.83px;
  height: 9.66px; }
.sprite-svg.txt_11 {
  background-position: 0 98.97983968909399%;
  width: 70.66px;
  height: 9.66px; }
.sprite-svg.txt_12 {
  background-position: 0 0;
  width: 98.36px;
  height: 26.13px; }
.sprite-svg.txt_2 {
  background-position: 0 31.939860652731937%;
  width: 97.86px;
  height: 10.19px; }
.sprite-svg.txt_3 {
  background-position: 88.10462199928341% 35.23170731707317%;
  width: 47.36px;
  height: 10px; }
.sprite-svg.txt_4 {
  background-position: 0 75.37204196145402%;
  width: 75.77px;
  height: 10.02px; }
.sprite-svg.txt_5 {
  background-position: 96.16738365271803% 11.721878412813979%;
  width: 56.72px;
  height: 9.59px; }
.sprite-svg.txt_6 {
  background-position: 92.60026360384109% 23.372996600291405%;
  width: 52.78px;
  height: 9.64px; }
.sprite-svg.txt_7 {
  background-position: 86.87511040452218% 47.41526456961717%;
  width: 45.78px;
  height: 9.98px; }
.sprite-svg.txt_8 {
  background-position: 0 87.2433483173369%;
  width: 73.3px;
  height: 9.69px; }
.sprite-svg.txt_9 {
  background-position: 0 44.1151463622009%;
  width: 91.06px;
  height: 9.67px; }
