html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

#ad_content {
  background: #fff;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 728px;
  height: 90px; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 728px 90px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 728px;
  height: 90px; }

#background_2 {
  width: 728px;
  height: 90px;
  background-color: #00bbee; }

#shape {
  top: 19px;
  left: 247px; }

#glass {
  top: 32px;
  left: 489px; }

#txt_1 {
  top: 32px;
  left: 269px; }

#txt_2 {
  top: 19px;
  left: 338px; }

#txt_2b {
  top: 49px;
  left: 338px; }

#txt_3 {
  top: 25px;
  left: 339px; }

#txt_4 {
  top: 17px;
  left: 339px; }

#product_1 {
  top: 4px;
  left: 38px; }

#product_2 {
  top: -1px;
  left: 96px; }

#logo_1 {
  top: -1px;
  left: 19px; }

#logo_2 {
  top: -1px;
  left: 19px; }

#phone_down {
  top: 6px;
  left: 513px; }

#phone_up {
  top: 6px;
  left: 618px; }

#phone_up_green {
  top: 6px;
  left: 618px; }

#txt_5 {
  top: 51px;
  left: 336px; }

#txt_6 {
  top: 8px;
  left: 338px; }

#txt_7 {
  top: 77px;
  left: 336px; }

#txt_8 {
  top: 5px;
  left: 338px; }

#txt_9 {
  top: 576px;
  left: 6px; }

#txt_ef {
  top: 44px;
  left: 339px; }

#cta {
  top: 30px;
  left: 566px; }

.sprite-jpg { background-image: url('sprite.jpg') }
.sprite-jpg.background_1 {
  width: 728px;
  height: 90px;
  background-position: 0px 0px; }
.sprite-png { background-image: url('sprite.png') }
.sprite-png.cta {
  width: 134px;
  height: 29px;
  background-position: -387px -108px;
  background-size: 579px 357px; }
.sprite-png.glass {
  width: 24px;
  height: 25px;
  background-position: -528px -30px;
  background-size: 579px 357px; }
.sprite-png.logo_1 {
  width: 134px;
  height: 34px;
  background-position: -387px -69px;
  background-size: 579px 357px; }
.sprite-png.logo_2 {
  width: 135px;
  height: 34px;
  background-position: -387px -30px;
  background-size: 579px 357px; }
.sprite-png.product_1 {
  width: 382px;
  height: 95px;
  background-position: 0px 0px;
  background-size: 579px 357px; }
.sprite-png.product_2 {
  width: 276px;
  height: 90px;
  background-position: 0px -99px;
  background-size: 579px 357px; }
.sprite-png.shape {
  width: 278px;
  height: 50px;
  background-position: 0px -195px;
  background-size: 579px 357px; }
.sprite-png.txt_1 {
  width: 198px;
  height: 25px;
  background-position: -168px -288px;
  background-size: 579px 357px; }
.sprite-png.txt_2 {
  width: 146px;
  height: 20px;
  background-position: -387px -141px;
  background-size: 579px 357px; }
.sprite-png.txt_2b {
  width: 255px;
  height: 20px;
  background-position: 0px -336px;
  background-size: 579px 357px; }
.sprite-png.txt_3 {
  width: 257px;
  height: 33px;
  background-position: 0px -249px;
  background-size: 579px 357px; }
.sprite-png.txt_6 {
  width: 191px;
  height: 26px;
  background-position: -387px 0px;
  background-size: 579px 357px; }
.sprite-png.txt_ef {
  width: 163px;
  height: 42px;
  background-position: 0px -288px;
  background-size: 579px 357px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.txt_1 {
  background-position: 0 48.61918604651162%;
  width: 213.61px;
  height: 46.64px; }
.sprite-svg.txt_2 {
  background-position: 0 99.95454545454545%;
  width: 148px;
  height: 22px; }
.sprite-svg.txt_2b {
  background-position: 0 17.045454545454547%;
  width: 256.5px;
  height: 22px; }
.sprite-svg.txt_4 {
  background-position: 0 29.476787030213707%;
  width: 245.14px;
  height: 21.59px; }
.sprite-svg.txt_5 {
  background-position: 79.157084024175% 99.55857385398981%;
  width: 110.03px;
  height: 21.3px; }
.sprite-svg.txt_6 {
  background-position: 0 70.7235294117647%;
  width: 193px;
  height: 28px; }
.sprite-svg.txt_7 {
  background-position: 0 0;
  width: 296.34px;
  height: 10.14px; }
.sprite-svg.txt_8 {
  background-position: 0 87.03540602430863%;
  width: 192.66px;
  height: 27.69px; }
.sprite-svg.txt_9 {
  background-position: 0 5.692152239811385%;
  width: 282.08px;
  height: 19.86px; }
